<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SwissKnife.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SwissKnife.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SwissKnife.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value>notepad.txt</value>
            </setting>
        </SwissKnife.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SwissKnife.Properties.Settings>
            <setting name="SwissKnife_com_cdyne_wsf_Weather" serializeAs="String">
                <value>http://wsf.cdyne.com/WeatherWS/Weather.asmx</value>
            </setting>
            <setting name="SwissKnife_ru_cbr_www_DailyInfo" serializeAs="String">
                <value>http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx</value>
            </setting>
        </SwissKnife.Properties.Settings>
    </applicationSettings>
</configuration>